.item {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 0.25em;
  cursor: pointer;
  border: 1px solid #094AB2;
  overflow: hidden;
}

.nameplate {
    background-color: #094AB2;
    color: white;
    width: 200px;
    height: 30px;
    position: absolute;
    bottom: 0px;
}

.folder {
  background-color: #094AB2;
  color: white;
}

img {
  height:auto;
  width:auto;
  max-width:200px;
  max-height:150px;
}
